.App{
  padding: .25rem;
  max-width: 50rem;
  width: calc(100vw - .5rem);
  min-width: 19.5rem;
  margin: auto;
}
.title, .components > span{
  width: 100%;
  display: block;
}
.components{
  display: block;
  padding: .5rem .2rem;
}
.tr{
  display: flex;
}
.table > span , .tr > span{
  flex: 1;
}

