.App{
  padding: .25rem;
  max-width: 50rem;
  width: calc(100vw - .5rem);
  min-width: 19.5rem;
  margin: auto;
}
.title{
  width: 10rem;
  display: block;
}
.components{
  display: block;
  padding: .5rem .2rem;
}
