body{
  padding: 1rem;
  background: #eeeeee;
}
.title{
  text-align: left;
}
.components{
  display: block;
  padding: .5rem .2rem;
}
.item:nth-child(odd){
  background: #eeeeee;
  padding: .2rem;
}
